$Accent: #0593ff;
$AccentActive: #0e6ae0;
$Foreground: white;
$Background: #eaedf2;
$TextPrimary: black;
$TextSecondary: #616980;

@media only screen and (min-width: 0px) {
  @keyframes grow {
    0% {
      width: 0vw;
      height: 0vh;
      min-height: 0vh;
    }

    100% {
      width: 25vw;
      height: 26vh;
      min-height: 26vh;
    }
  }

  @keyframes appear {
    0% {
      opacity: 0;
      visibility: hidden;
    }

    90% {
      opacity: 0;
      visibility: hidden;
    }

    100% {
      opacity: 1;
      visibility: visible;
    }
  }

  @keyframes bounce {
    50% {
      transform: scale(1.2);
    }
    75% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }

  .PassGen {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: $Background;

    .Container {
      width: 25vw;
      display: flex;
      border-radius: 2vh;
      position: relative;
      align-items: center;
      animation-name: grow;
      animation-duration: 1s;
      flex-direction: column;
      background-color: $Foreground;
      box-shadow: 0 5.7px 8.4px rgba(0, 0, 0, 0.008),
        0 19px 28.1px rgba(0, 0, 0, 0.012), 0 85px 126px rgba(0, 0, 0, 0.02);
    }
  }

  .Logo {
    top: -4vh;
    left: -4vh;
    width: 10vh;
    height: 10vh;
    display: grid;
    border-radius: 3vh;
    position: absolute;
    box-shadow: inherit;
    place-items: center;
    background-color: inherit;

    img {
      width: 60%;
      margin-bottom: 1vh;
    }
  }

  .PasswordContainer {
    width: 100%;
    height: 12vh;
    display: grid;
    align-items: flex-end;
    justify-items: center;
    animation-name: appear;
    animation-duration: 1s;

    .Password {
      p {
        margin: 0;
        font-size: 2.4vh;
        font-weight: 700;
        color: $TextSecondary;
        font-family: "Fira Code", monospace;
      }

      width: 80%;
      height: 6vh;
      display: grid;
      overflow: hidden;
      border-radius: 1vh;
      place-items: center;
      white-space: nowrap;
      text-overflow: ellipsis;
      background: $Background;
    }
  }

  .SettingsContainer {
    width: 100%;
    min-height: 6vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    animation-name: appear;
    animation-duration: 1s;

    .SettingsHeader {
      width: 80%;
      height: 6vh;
      display: flex;
      align-items: center;
      animation-name: appear;
      animation-duration: 1s;

      p {
        margin: 0;
        font-size: 2vh;
        font-weight: 600;
        color: $TextPrimary;
        font-family: "Montserrat", sans-serif;
      }

      svg {
        width: 1vw;
        margin-left: 1vh;
        transform-origin: center;
      }
    }

    .Settings {
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      animation-name: appear;
      animation-duration: 1s;
    }
  }

  .Setting {
    height: 3vh;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-items: center;

    .CheckBox {
      display: flex;
      position: relative;
      justify-items: center;

      input {
        // behavior
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
        cursor: pointer;
        -moz-appearance: none;
        -webkit-appearance: none;

        // size, position and appearance
        width: 1vw;
        height: 1vw;
        position: absolute;
        border-radius: 0.5vh;
        background: $Background;

        &:hover {
          box-shadow: inset 0 0 0.2vh $Accent;
        }
        &:checked {
          background: $Accent;
          box-shadow: inset 0 0 0.2vh $AccentActive;
        }
      }

      input:checked + svg {
        display: block;
        stroke: $Foreground;
        animation: bounce 0.4s linear forwards 0.2s;
      }

      svg {
        top: 0;
        left: 0;
        fill: none;
        margin: 0;
        width: 1vw;
        height: 1vw;
        display: none;
        stroke: $Accent;
        position: absolute;
        stroke-width: 0.2vh;
        stroke-linecap: round;
        stroke-linejoin: round;
      }

      span {
        margin: 0;
        margin-left: 1.5vw;
        font-size: 1.5vh;
        font-weight: 600;
        color: $TextSecondary;
        font-family: "Montserrat", sans-serif;
      }
    }
  }

  #LengthSetting {
    height: 9vh;

    .Slider {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-items: flex-start;

      span {
        margin: 0;
        width: 100%;
        height: 4vh;
        display: grid;
        font-size: 1.5vh;
        font-weight: 600;
        color: $TextSecondary;
        place-items: center flex-start;
        font-family: "Montserrat", sans-serif;
      }

      .SliderInputContainer {
        width: 100%;
        height: 6vh;
        display: flex;
        align-items: center;
        justify-items: center;

        input {
          width: 80%;
          height: 100%;
          background: transparent;
        }

        .SliderChange {
          width: 10%;
          height: 6vh;
          display: grid;
          place-items: center;

          svg {
            width: 60%;
            height: 60%;

            path {
              fill-rule: evenodd;
              clip-rule: evenodd;
              fill: $TextSecondary;
            }
          }
        }
      }
    }
  }

  .SliderInputContainer {
  }

  .Controllers {
    width: 80%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-items: center;
    animation-name: appear;
    animation-duration: 1s;
    justify-content: flex-end;

    p {
      margin: 0;
      font-size: 1.6vh;
      font-weight: 600;
      font-family: "Montserrat", sans-serif;
    }

    .Copy {
      width: 20%;
      height: 50%;
      display: flex;
      color: $Accent;
      margin-right: 1vw;
      border-radius: 1.8vh;
      align-items: center;
      background: $Background;
      justify-content: space-evenly;
    }

    .Generate {
      width: 25%;
      height: 50%;
      display: flex;
      color: $Foreground;
      border-radius: 1.8vh;
      background: $Accent;
      align-items: center;
      justify-content: space-evenly;
    }
  }
}

@media only screen and (max-width: 600px) {
  @keyframes grow {
    0% {
      width: 0vw;
      height: 0vh;
      min-height: 0vh;
    }

    100% {
      width: 80vw;
      height: 26vh;
      min-height: 26vh;
    }
  }

  .PassGen {
    .Container {
      width: 80vw;
    }
  }

  .Logo {
    width: 6vh;
    height: 6vh;
    top: -1.5vh;
    left: -1.5vh;
    border-radius: 2vh;
  }

  .SettingsContainer {
    .SettingsHeader {
      svg {
        width: 3.2vw;
        margin-left: 1vh;
      }
    }
  }

  .Setting {
    .CheckBox {
      input {
        width: 4vw;
        height: 4vw;
      }

      svg {
        width: 4vw;
        height: 4vw;
      }

      span {
        margin-left: 5vw;
      }
    }
  }

  .Controllers {
    .Copy {
      width: 30%;
      margin-right: 3vw;
    }
    .Generate {
      width: 35%;
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  @keyframes grow {
    0% {
      width: 0vw;
      height: 0vh;
      min-height: 0vh;
    }

    100% {
      width: 50vw;
      height: 26vh;
      min-height: 26vh;
    }
  }

  .PassGen {
    .Container {
      width: 50vw;
    }
  }

  .Logo {
    width: 8vh;
    height: 8vh;
    top: -2vh;
    left: -2vh;
    border-radius: 2vh;
  }

  .SettingsContainer {
    .SettingsHeader {
      svg {
        width: 2.1vw;
        margin-left: 1vh;
      }
    }
  }

  .Setting {
    .CheckBox {
      input {
        width: 2vw;
        height: 2vw;
      }

      svg {
        width: 2vw;
        height: 2vw;
      }

      span {
        // font-size: 2vw;
        margin-left: 3vw;
      }
    }
  }

  .Controllers {
    .Copy {
      width: 25%;
      margin-right: 3vw;
    }
    .Generate {
      width: 35%;
    }
  }
}

@media only screen and (min-width: 900px) and (max-aspect-ratio: 12/10) {
  @keyframes grow {
    0% {
      width: 0vw;
      height: 0vh;
      min-height: 0vh;
    }

    100% {
      width: 40vw;
      height: 26vh;
      min-height: 26vh;
    }
  }

  .PassGen {
    .Container {
      width: 40vw;
    }
  }

  .SettingsContainer {
    .SettingsHeader {
      svg {
        width: 1.8vw;
        margin-left: 1vh;
      }
    }
  }

  .Setting {
    .CheckBox {
      input {
        width: 2vw;
        height: 2vw;
      }

      svg {
        width: 2vw;
        height: 2vw;
      }

      span {
        // font-size: 2vw;
        margin-left: 3vw;
      }
    }
  }
}

@media only screen and (min-width: 900px) and (min-aspect-ratio: 12/10) and (max-aspect-ratio: 3/2) {
  @keyframes grow {
    0% {
      width: 0vw;
      height: 0vh;
      min-height: 0vh;
    }

    100% {
      width: 30vw;
      height: 26vh;
      min-height: 26vh;
    }
  }

  .PassGen {
    .Container {
      width: 30vw;
    }
  }
}
